@mixin focused {
    outline: 2px dashed $focusColor; 
    border-radius: 4px;
    outline-offset: 0;
}

@mixin focused-outer {
    outline: 2px dashed $focusColor; 
    border-radius: 4px;
    outline-offset: 2px;
}

@mixin focused-inner {
    outline: 2px dashed $focusColor; 
    border-radius: 4px;
    outline-offset: -1px;
}